<a href="https://colab.research.google.com/github/MayurShinde4727/Datascience_Rcode/blob/main/python_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("california_housing_test.csv")

In [5]:
df.head(5)

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [6]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [7]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [8]:
df.size

27000

In [9]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [10]:
df.shape

(3000, 9)

In [11]:
df.values

array([[-1.22050e+02,  3.73700e+01,  2.70000e+01, ...,  6.06000e+02,
         6.60850e+00,  3.44700e+05],
       [-1.18300e+02,  3.42600e+01,  4.30000e+01, ...,  2.77000e+02,
         3.59900e+00,  1.76500e+05],
       [-1.17810e+02,  3.37800e+01,  2.70000e+01, ...,  4.95000e+02,
         5.79340e+00,  2.70500e+05],
       ...,
       [-1.19700e+02,  3.63000e+01,  1.00000e+01, ...,  2.20000e+02,
         2.28950e+00,  6.20000e+04],
       [-1.17120e+02,  3.41000e+01,  4.00000e+01, ...,  1.40000e+01,
         3.27080e+00,  1.62500e+05],
       [-1.19630e+02,  3.44200e+01,  4.20000e+01, ...,  2.60000e+02,
         8.56080e+00,  5.00001e+05]])

In [12]:
df.describe

<bound method NDFrame.describe of       longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]>

In [13]:
df.max()

longitude               -114.4900
latitude                  41.9200
housing_median_age        52.0000
total_rooms            30450.0000
total_bedrooms          5419.0000
population             11935.0000
households              4930.0000
median_income             15.0001
median_house_value    500001.0000
dtype: float64

In [14]:
df.min()

longitude              -124.1800
latitude                 32.5600
housing_median_age        1.0000
total_rooms               6.0000
total_bedrooms            2.0000
population                5.0000
households                2.0000
median_income             0.4999
median_house_value    22500.0000
dtype: float64

In [15]:
df.mean()

longitude               -119.589200
latitude                  35.635390
housing_median_age        28.845333
total_rooms             2599.578667
total_bedrooms           529.950667
population              1402.798667
households               489.912000
median_income              3.807272
median_house_value    205846.275000
dtype: float64

In [16]:
df.housing_median_age.value_counts()

52.0    173
35.0    118
36.0    115
16.0    107
34.0    102
17.0    100
32.0     91
26.0     88
37.0     88
25.0     86
33.0     85
15.0     77
18.0     76
19.0     76
30.0     76
24.0     75
29.0     75
27.0     74
38.0     64
20.0     63
21.0     61
22.0     60
28.0     58
14.0     57
31.0     57
41.0     56
43.0     56
39.0     55
23.0     53
42.0     51
44.0     51
45.0     51
40.0     43
11.0     41
12.0     41
46.0     41
13.0     41
5.0      39
48.0     34
10.0     30
4.0      28
9.0      27
6.0      25
8.0      25
47.0     22
49.0     21
7.0      20
50.0     16
3.0      12
51.0     11
2.0       6
1.0       2
Name: housing_median_age, dtype: int64

In [17]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [18]:
df.std()

longitude                  1.994936
latitude                   2.129670
housing_median_age        12.555396
total_rooms             2155.593332
total_bedrooms           415.654368
population              1030.543012
households               365.422710
median_income              1.854512
median_house_value    113119.687470
dtype: float64

In [19]:
fifty_values = df.head(50)

In [20]:
fifty_values.mean()

longitude               -119.377200
latitude                  35.400200
housing_median_age        29.300000
total_rooms             2793.100000
total_bedrooms           556.200000
population              1525.440000
households               528.080000
median_income              4.024894
median_house_value    205638.020000
dtype: float64

In [21]:
df.mean()

longitude               -119.589200
latitude                  35.635390
housing_median_age        28.845333
total_rooms             2599.578667
total_bedrooms           529.950667
population              1402.798667
households               489.912000
median_income              3.807272
median_house_value    205846.275000
dtype: float64

In [22]:
df.population

0       1537.0
1        809.0
2       1484.0
3         49.0
4        850.0
         ...
2995    1258.0
2996    3496.0
2997     693.0
2998      46.0
2999     753.0
Name: population, Length: 3000, dtype: float64

In [23]:
df.households.describe()

count    3000.00000
mean      489.91200
std       365.42271
min         2.00000
25%       273.00000
50%       409.50000
75%       597.25000
max      4930.00000
Name: households, dtype: float64

In [24]:
df.housing_median_age.value_counts()

52.0    173
35.0    118
36.0    115
16.0    107
34.0    102
17.0    100
32.0     91
26.0     88
37.0     88
25.0     86
33.0     85
15.0     77
18.0     76
19.0     76
30.0     76
24.0     75
29.0     75
27.0     74
38.0     64
20.0     63
21.0     61
22.0     60
28.0     58
14.0     57
31.0     57
41.0     56
43.0     56
39.0     55
23.0     53
42.0     51
44.0     51
45.0     51
40.0     43
11.0     41
12.0     41
46.0     41
13.0     41
5.0      39
48.0     34
10.0     30
4.0      28
9.0      27
6.0      25
8.0      25
47.0     22
49.0     21
7.0      20
50.0     16
3.0      12
51.0     11
2.0       6
1.0       2
Name: housing_median_age, dtype: int64

In [25]:
df.latitude.mean()

35.63538999999999

In [26]:
grpou = df.groupby('total_rooms')

In [27]:
grpou.describe().head(10)

            longitude                    ... median_house_value
                count    mean       std  ...                50%       75%       max
total_rooms                              ...
6.0               1.0 -116.95       NaN  ...            55000.0   55000.0   55000.0
16.0              1.0 -117.12       NaN  ...            60000.0   60000.0   60000.0
18.0              1.0 -114.62       NaN  ...           275000.0  275000.0  275000.0
19.0              1.0 -121.04       NaN  ...           162500.0  162500.0  162500.0
21.0              1.0 -118.06       NaN  ...           175000.0  175000.0  175000.0
25.0              1.0 -117.11       NaN  ...           118800.0  118800.0  118800.0
32.0              2.0 -120.14  2.404163  ...           187500.0  206250.0  225000.0
38.0              1.0 -117.99       NaN  ...           162500.0  162500.0  162500.0
40.0              1.0 -121.89       NaN  ...           225000.0  225000.0  225000.0
41.0              1.0 -118.25       NaN  ...           225000.0  225000.0  225000.0

[10 rows x 64 columns]

In [28]:
grpou.mean()

             longitude  latitude  ...  median_income  median_house_value
total_rooms                       ...
6.0            -116.95     33.86  ...         1.6250             55000.0
16.0           -117.12     32.66  ...         1.1250             60000.0
18.0           -114.62     33.62  ...         0.5360            275000.0
19.0           -121.04     37.67  ...         0.5360            162500.0
21.0           -118.06     34.03  ...         2.3750            175000.0
...                ...       ...  ...            ...                 ...
21988.0        -117.12     33.49  ...         3.9963            191100.0
23915.0        -117.27     33.15  ...         4.6357            244900.0
24121.0        -116.36     33.78  ...         3.3799            239300.0
27870.0        -121.53     38.48  ...         4.8811            212200.0
30450.0        -117.20     33.58  ...         4.5936            174300.0

[2215 rows x 8 columns]

In [29]:
grpou.head()

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [30]:
grpou.groups

{6.0: [1115], 16.0: [740], 18.0: [2640], 19.0: [641], 21.0: [2690], 25.0: [1355], 32.0: [2132, 2494], 38.0: [733], 40.0: [666], 41.0: [826], 42.0: [1356], 45.0: [2636], 48.0: [1345, 2768], 49.0: [2502], 60.0: [1202], 66.0: [2879], 67.0: [3], 74.0: [564], 83.0: [842], 87.0: [1726], 90.0: [1509], 95.0: [742], 96.0: [1453, 2998], 97.0: [1539], 99.0: [1902], 104.0: [676], 105.0: [1614], 106.0: [2844], 107.0: [1530], 110.0: [2194], 114.0: [519], 118.0: [1203], 120.0: [2236], 126.0: [894], 141.0: [1408], 142.0: [220, 2258], 156.0: [2226], 158.0: [495], 161.0: [15], 172.0: [224, 618], 180.0: [693], 185.0: [2741], 200.0: [1050], 202.0: [2627], 204.0: [739], 205.0: [1457], 212.0: [1996], 215.0: [410], 224.0: [1018], 225.0: [297], 238.0: [871], 240.0: [2321], 254.0: [2548], 255.0: [2153], 265.0: [1398], 277.0: [962], 282.0: [1740], 284.0: [424], 305.0: [374], 307.0: [2233], 308.0: [997], 312.0: [1078], 314.0: [767, 2161], 320.0: [2725], 321.0: [684, 2521], 322.0: [1029, 1189], 324.0: [119], 325.0: [705], 335.0: [1088], 337.0: [2456], 349.0: [1459], 353.0: [1081], 354.0: [1867], 361.0: [1551], 362.0: [1926], 365.0: [671, 1031], 367.0: [1721], 369.0: [2596], 371.0: [575], 382.0: [1903], 388.0: [2213], 392.0: [1974], 393.0: [1761], 396.0: [833, 2294], 397.0: [2377], 404.0: [353], 407.0: [1383], 409.0: [640], 410.0: [2296], 414.0: [483], 418.0: [1307], 423.0: [2081], 432.0: [2784], 440.0: [2353], 442.0: [2466], 443.0: [2797], 444.0: [2086], 446.0: [1578, 2869], 455.0: [569], 470.0: [1296], ...}

In [31]:
df[df.population>10000]

      longitude  latitude  ...  median_income  median_house_value
978     -121.53     38.48  ...         4.8811            212200.0
1146    -117.27     33.15  ...         4.6357            244900.0
2186    -116.14     34.45  ...         2.2612            137500.0

[3 rows x 9 columns]

In [32]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [33]:
df[(df.population>10000) & (df.latitude<35)]

      longitude  latitude  ...  median_income  median_house_value
1146    -117.27     33.15  ...         4.6357            244900.0
2186    -116.14     34.45  ...         2.2612            137500.0

[2 rows x 9 columns]

In [35]:
df.iloc[4,]

longitude              -119.6700
latitude                 36.3300
housing_median_age       19.0000
total_rooms            1241.0000
total_bedrooms          244.0000
population              850.0000
households              237.0000
median_income             2.9375
median_house_value    81700.0000
Name: 4, dtype: float64

In [38]:
df.iloc[1:3,0:3]

   longitude  latitude  housing_median_age
1    -118.30     34.26                43.0
2    -117.81     33.78                27.0

In [39]:
df.iloc[0:78,4]

0     661.0
1     310.0
2     507.0
3      15.0
4     244.0
      ...
73    419.0
74    291.0
75    225.0
76    631.0
77    694.0
Name: total_bedrooms, Length: 78, dtype: float64

In [42]:
df.iloc[:,6]

0        606.0
1        277.0
2        495.0
3         11.0
4        237.0
         ...
2995     607.0
2996    1036.0
2997     220.0
2998      14.0
2999     260.0
Name: households, Length: 3000, dtype: float64

In [43]:
df

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [44]:
df.skew()

longitude            -0.297858
latitude              0.459816
housing_median_age    0.018513
total_rooms           4.167637
total_bedrooms        3.863393
population            2.949671
households            3.559753
median_income         1.698512
median_house_value    0.989562
dtype: float64